$font-sizes: (
  step-000: clamp(0.7406rem, 0.7263rem + 0.061vi, 0.7813rem),
  step-00: clamp(0.8331rem, 0.7964rem + 0.1568vi, 0.9375rem),
  step-0: clamp(0.9375rem, 0.8715rem + 0.2817vi, 1.125rem),
  step-1: clamp(1.055rem, 0.9511rem + 0.4432vi, 1.35rem),
  step-2: clamp(1.1863rem, 1.0335rem + 0.6516vi, 1.62rem),
  step-3: clamp(1.335rem, 1.1207rem + 0.9146vi, 1.9438rem),
  step-4: clamp(1.5019rem, 1.2094rem + 1.2479vi, 2.3325rem),
  step-5: clamp(1.6894rem, 1.2985rem + 1.6676vi, 2.7994rem),
  step-6: clamp(1.9006rem, 1.387rem + 2.1915vi, 3.3594rem),
  step-7: clamp(2.1381rem, 1.4715rem + 2.8441vi, 4.0313rem),
  step-8: clamp(2.4056rem, 1.5493rem + 3.6535vi, 4.8375rem),
  step-9: clamp(2.7062rem, 1.6151rem + 4.6554vi, 5.805rem),
  step-10: clamp(3.0313rem, 1.6459rem + 5.9108vi, 6.9656rem),
  step-11: clamp(3.7887rem, 1.4439rem + 10.0047vi, 10.4481rem),
  step-12: clamp(3.7887rem, 0.0612rem + 15.9042vi, 14.375rem)
);
