@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Serif:wght@400;700&display=swap");

$ff-pt-serif: "PT Serif", serif;
$ff-fira-sans: "Fira Sans", sans-serif;

$font-pt-serif-regular: 400;
$font-pt-serif-bold: 700;
$font-fira-sans-light: 300;
