---
import Layout from '@/Layouts/DefaultLayout.astro';
---

<Layout title='Budget App' description="'test">
	<main>
		<!-- This is where your Vue component will render -->
		<div id='safe-to-spend'></div>
		<div id='transaction-list'></div>

		<!-- Vue + Pinia Mount Script -->
		<script type='module' src='/src/hydrate/dashboard.ts'></script>
	</main>
</Layout>
